/* CSS file for language selection in header.php and footer.php. Created v1.3*/

.dropdown-lang {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--primary);
}

.dropdown-lang a:hover {
  text-decoration: underline;
}

#dropdown-lang-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  right: 0;
  margin-top: 5px;
}

#dropdown-lang-content ul{
  padding: 0;
}

#dropdown-lang-content ul li {
  width: auto;
  display: block;
  padding-left: 0;
}

#dropdown-lang-content ul li:hover {
  background-color: var(--header-color);
}

#dropdown-lang-content ul li a {
  width: auto;
  display: block;
  padding: 5px 15px;
}

#dropdown-lang-content ul li a:hover {
  background-color: #ececec;
  text-decoration: none;
}
/* class for displaying dropdowns. Trigerred by mls_toggleLangDropdown() function. */
.show-dropdown {display: block !important;}

@media only screen and (min-width: 60rem){
  .dropdown-content-selected-lang{
    background-color: #ececec;
    }
}

.dropdown-content-selected-lang{
  background-color: #ececec;
  color: white;
}

@media only screen and (max-width: 59.99rem){
  .dropdown-content-selected-lang a {
        color: #444444;
  }
}


/* Following CSS modifies language dropdown in mobile menu. */
@media only screen and (max-width: 59.99rem) {
  .dropdown-lang{
    width: 100%;
  }

#dropdown-lang-content{
    position: relative;
    background-color: #444444;
  }

  #dropdown-lang-content ul li a:hover {
    color: #444444;
  }
}


/* Following CSS modifies language icon in header for small mobile screens. */
#dropdown-in-responsive-header{
  display: none;
}

@media only screen and (max-width: 59.99rem){
  #header-inside-right{
    float:right;
    display: flex;
    height: 48px !important;
  }

  .dropdown-lang2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: var(--primary);
    margin-right: 15px;
  }

.dropdown-lang2 a {
  height: 48px;
  display: block;
  padding: 10px 0;
 }

 #dropdown-in-responsive-header{
    display: block;
    list-style: none;
  }

  #dropdown-lang-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    margin-top: 5px;
  }
  #dropdown-lang-content2 ul{
    padding: 0;
    margin: 0;
  }

  #dropdown-lang-content2 ul li {
    width: auto;
    display: block;
    padding-left: 0;
  }

  #dropdown-lang-content2 ul li:hover {
    background-color: var(--header-color);
  }

  #dropdown-lang-content2 ul li {
    width: auto;
    display: block;
    padding: 5px 15px;
  }

  #dropdown-lang-content2 ul li a:hover {
    background-color: #ececec;
    text-decoration: none;
  }

  .header__nav-icon{
    top: 15px;
  }
}

/* Make selected language bold in the footer. */
.footer-lang-selected a{
  font-weight: bold;
}
