// McLuhan (Web)
$type: 'web';

@import 'fonts';
@import '../components/colors';
@import '../components/elements';
@import '../components/specials';
@import '../components/media';
@import '../components/pages';
@import '../components/section-titles';


/* ****** @internal by B4L ****** */

/* Text Boxes */
.textbox, .bcc-box {
  border-style: none;
	}

.textbox, .bcc-box {
  padding: 0;
  margin: 0;
	}

.textbox.textbox--summary {
  background: #FDF7F8;
  }

.single-chapter {
  background: #FCFCFC;
  }

/* Titles styles */

.chapter h2 {
  border-bottom: 2px solid rgba(53,86,129, 0.3);
  text-transform: uppercase;
  }

.chapter h4 {
  margin: 20px;
  font-style: normal;
	}

/* Tables styles */
.chapter th {
  text-transform: uppercase;
	}

/*  display-posts  */
.display-posts-ul {
  background: #F5F9FC;
  }

/* Links */
/* unvisited link */
.chapter a:link {
  color: #dc6e78;
  text-decoration: none;
  }

/* visited link */
.display-posts-ul a:visited {
  color: #1356A3;
  font: bold;
  }

/* mouse over link */
.chapter a:hover {
  color: #dc6e78;
  text-decoration: underline;
  }

/* selected link */
.chapter a:active {
  color: blue;
  }
